* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.head {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    /* background-color: antiquewhite; */
}

.head img {
    width: 40px;
    height: 40px;
    margin-left: 250px;
}

.head .head1 {
    position: absolute;
    top: 10px;
    left: 300px;
    font-weight: 600;
}

.head .ul1 {
    position: absolute;
    top: 0;
    right: 250px;
}

.head .ul1>li {
    font-size: 1px;
    line-height: 30px;
    width: 70px;
    height: 45px;
    display: inline-block;
    padding: 8px;
    /* background-color: red; */
    position: relative;
}

.ul2 {
    border: 2px solid black;
    /* background-color: aliceblue; */
    width: 70px;
    height: 120px;
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    text-align: center;
}

.head ul li:hover .ul2 {
    display: block;
}

.head .ul1 li:hover {
    color: orange;
}

.tp {
    width: 100%;
    height: 550px;
    /* background-color: aquamarine; */
}

.tp img {
    width: 100%;
    height: 550px;
}

.box {
    margin: 0 auto;
    width: 1200px;
    height: 1600px;
    /* background-color: brown; */
}

.p1 {
    font-size: 37px;
    text-align: center;
    margin-top: 125px;
}

.tupian {
    margin-top: 70px;
    width: 1200px;
    height: 800px;
    /* background-color: cadetblue; */

}

.tup1 ul>li {
    width: 102px;
    height: 110px;
    /* background-color: azure; */
    display: inline-block;
    padding-left: 60px;
}

span {
    margin-left: 27px;
    width: 100px;
    height: 10px;
    /* background-color: aqua; */
}

.tup2 {
    margin-top: 50px;
}

.tup2 ul>li {
    width: 102px;
    height: 110px;
    /* background-color: azure; */
    display: inline-block;
    padding-left: 60px;
}

span {
    margin-left: 27px;
    width: 100px;
    height: 10px;
    /* background-color: aqua; */
}

.asd {
    width: 100%;
    height: 600px;
    /* background-color: green; */
}

.asd1 {
    /* background-color: brown; */
    text-align: center;
    margin-top: 100px;
    font-size: 45px;
}

.vvv {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    /* background-color: aqua; */
}

.vvv1 img {
    width: 225px;
    height: 115px;
    float: left;
    padding-left: 13px;
}


.vvv2 {
    margin-top: 10px;
    width: 100%;
    height: 600px;
    /* background-color: aqua; */

}

.vvv2 img {
    width: 225px;
    height: 115px;
    float: left;
    padding-left: 13px;
}

.ddd {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
}

.ddd1 li {
    display: inline-block;
    padding-left: 15px;
    margin-top: 20px;
}

.ddd2 li {
    display: inline-block;
    padding-left: 20px;
    margin-top: 20px;
}

.ddd2 img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.hengx {
    margin-top: 50px;
    opacity: 0.2;
}

.dibuxia {
    font-size: 1px;
    margin-left: 520px;
}

.dibuxia li {
    float: left;

}